*::after,*::before {
    box-sizing: border-box;
}


section{
    width:100%;
    height:calc(100vh - 86px);
    background:linear-gradient(180deg, #CDC4FD 0%, #A6CDF4 100%);
    background-repeat: no-repeat;
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items:center;
    padding-top:150px;
    box-sizing: border-box; /*Pourquoi je dois le mettre alors que mis au dessus*/
    overflow: hidden;
    position: absolute;
}

h1{
    text-transform: uppercase;
}

nav{
    background-color: #7175D4;
    width:100%;
    height:86px;
    display:flex;
    justify-content: flex-start;
    align-items: center;

}

.logo {
    width:55px;
    height:55px;
	background-image: url(./img/logoENT.svg);
	background-size: cover;
    margin-left:20px;
	
}

.idMdp{
    width:fit-content;
    color:white;
    background-color: #7175D4;
    padding:20px 20px 50px 20px;
    margin:20px;
    border-radius:20px;
    position:relative;
}

.labelStatut{
    padding-left:20px;
}

.labelForm{
    padding-right:20px;
}

.inputIdMdp{
    background-color: #7175D4;
    border:0px;
    border-bottom:2px white solid;
    color:white;
}

.connexionButton{
    color:white;
    background-color: black;
    border:0px;
    border-radius:20px;
    padding:8px 15px 8px 15px;
    text-align:center;
    cursor:pointer;
    position:absolute;
    bottom:2px;
    left: 50%;
    transform: translate(-50%,-50%);
}

.imgConnexion{
    width:250px;
    position:relative;
    bottom:-50px;
}

@media(min-width:500px){
    .imgConnexion{
        right:-140px;
        bottom:-60px;
    }
}

@media(min-width:600px){
    body{
        font-size:1.4rem;
    }

    .connexionButton{
        font-size:1.2rem;
    }

    .imgConnexion{
        width:300px;
        right:-180px;
        bottom:35px;
    }
}

@media(min-width:800px){
    body{
        font-size:1.4rem;
    }

    .connexionButton{
        font-size:1.2rem;
    }

    .imgConnexion{
        right:-270px;

    }
}