@font-face {
    font-family:"inter" ;
    src: url(./fonts/Inter-Regular.woff2) format(woff2);
}

@font-face {
    font-family: "secular";
    src: url(./fonts/SecularOne-Regular.woff2) format(woff2);
}



