*,
*::before,
*::after {
  box-sizing: border-box;
}

h1{
    font-family:"secular", sans-serif;
    font-size:1.2rem;
    text-transform: uppercase;
}

.sec1{
    display: flex;
    justify-content: space-around;
    position: relative;

}

.gridContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap:100px;
}

.prof{
    width:250px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.photoProf{
    width:100px;
}

.nomPrenom{
    font-size:1.1rem;
    font-weight:600;
}

.matiere{
    font-weight:600;
    color:var(--violetFonce);
}

.img{
    width:200px;
    position:absolute;
    bottom:-200px;
    right:150px;
}

footer{
    position: relative;
    z-index:200;
}

@media(max-width:1250px){
    .gridContainer{
        grid-template-columns: repeat(3, 1fr);
    } 
}
@media(max-width:1000px){
    .gridContainer{
        grid-template-columns: repeat(2, 1fr);
    } 
}
@media(max-width:620px){
    .gridContainer{
        grid-template-columns: repeat(1, 1fr);
    } 

    .img{
        right:25px;
    }
}

@media(max-width:560px){
    .img{
        display:none;
    }
}