/*Je mets en place la section du formulaire de réservation*/
.titleResa{
    margin-bottom:0;
}

h1{
    font-family:"secular", sans-serif;
    font-size:1.5rem;
    text-transform: uppercase;
}

.sec1{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.formResa{
    width:fit-content;
    background-color: var(--vert);
    padding:35px 35px 50px 35px;
    filter: drop-shadow(25px 24px 19.5px rgba(0, 0, 0, 0.15));
    border-radius:20px;
    position:relative;
}

label{
    background-color: var(--violetClair);
    padding:5px;
    margin-right:20px;
}

#matos,#date{
    width:150px;
}

.envoyer{
    position:absolute;
    left:50%;
    transform:translate(-50%,0);
    font-family: "inter", sans-serif;
    font-size:1.1rem;
    position:absolute;
    left:50%;
    background-color: white;
    border:none;
    border-radius:20px;
    padding:5px 10px 5px 10px;
    cursor: pointer;
    transition: padding 0.2s ease-in-out;
}

.envoyer:hover{
    padding: 5px 15px 5px 15px;
}


/*Je mets maintenant en place ma section des réservations déjà faites*/

.secResa{
    background: var(--degrade);
    margin-top:50px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.mesResa{
    position: relative;
    background-color: beige;
    padding:25px 100px 40px 100px;
    border-radius:20px;
    width:fit-content;
    filter: drop-shadow(25px 24px 19.5px rgba(0, 0, 0, 0.15));
    
}

.img{
    height:120px;
    position:absolute;
    top:-50px;
    right:-30px;
}

.img2{
    height:100px;
    position:absolute;
    top:-30px;
    right:-30px;
    z-index:100;
}

.line{
    border-bottom: 1px black solid;
}

.hidden{
    display:none;
}

.ok{
    display:block;
}

/*Je mets maintenant en place la page de réservations sur le compte d'un professeur*/

.allResaEtud{
    position: relative;;
}

.oneResaEtud{
    width:500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: var(--bleu);
    padding:40px;
    border-radius:20px;
    filter: drop-shadow(20px 20px 19.5px rgba(0, 0, 0, 0.15));
 
}

.eleve{
    font-weight:600;
    color:rgb(141, 0, 0);
}

.pProf{
    margin-top:0;
}

.button{
    font-family:"inter", sans-serif;
    font-size:1.2rem;
    margin-top:30px;
    background-color: var(--violetClair);
    border-radius:20px;
    padding:10px 15px 10px 15px;
    border:none;
    cursor: pointer;
}

.sec2{
    background:var(--degrade);
    display: none;
    flex-direction: column;
    align-items: center;
}

.titleOldResa{
    width:fit-content;
    color:white;
    font-size:1.2rem;
    background-color: rgb(59, 59, 59);
    padding: 10px;
    border-radius:5px;
    margin-bottom:20px;
}

.oneResaEtud.old{
    background-color: beige;
}

.p2{
    margin-top:0;
}




@media(max-width:660px){
    .oneResaEtud{
        width:300px;
        margin-top:35px;
    }

    .img2{
        top:0px;
    }
}

@media(max-width:615px){
    .mesResa{
        padding:25px 40px 40px 40px;
    }

    .img{
        right:-18px;
        top:-32px;
        height:80px;
    }

}
@media(max-width:460px){
    .oneResaEtud{
        width:200px;
        margin-top:35px;
        padding:30px;
    }

    .img2{
        top:-20px;
    }

    .button{
        font-size:1rem;
    }

    .titleOldResa{
        font-size:1.1rem;
    }
}

@media(max-width:450px){
    .formResa{
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    label{
        margin-bottom:15px;
    }

    .envoyer{
        bottom:30px;
    }
}
@media(max-width:400px){
    .img{
        top:-25px;
    }
}

