*,
*::before,
*::after {
  box-sizing: border-box;
}

.title{
    font-family:"secular", sans-serif;
    font-size:1.3rem;
    text-transform: uppercase;
}

.section1{
    position:relative;
}

.lienPleinEcran{
    text-decoration:none;
    color:white;
    background-color: gray;
    padding:5px 10px 5px 10px;
    border-radius:5px;
    position:absolute;
    right:80px;
    transition: padding 0.2s ease-in-out;

}

.lienPleinEcran:hover{
    padding:5px 15px 5px 15px;
}

iframe {
    width: 90%;
    height: 600px;
}

.cardContainer{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}



@media(max-width:500px){
    
    iframe {
        height:400px;
    }

} 