*,
*::before,
*::after {
  box-sizing: border-box;
}

.titleContainer{
    position:relative;
    width: fit-content;
    display: flex;
    margin: auto;
    margin-top:60px;
}

.img{
    width:100px;
    position:absolute;
    left:170px;
    top:-50px;
}


.titlePage, label{
    font-family: "secular", sans-serif;
    text-transform: uppercase;
}

h2{
    font-family: "secular", sans-serif;
    text-transform: uppercase;
    background-color: var(--violetClair);
    padding:5px 15px 5px 15px;
    width:fit-content;
    margin-right:auto;
    border-radius: 5px;
    margin-bottom:0;
    margin-top:0;
    text-align: center;
}
.section1{
    min-height:55vh
}

#utilisateur{
    padding:5px;
}

label{
    background-color: var(--vert);
    padding:5px 15px 5px 15px;
    border-radius:5px;
}

button{
    font-family: "inter", sans-serif;
    background-color:white;
    color:black;
    padding:5px 15px 5px 15px;
    border-radius:5px;
    transition: padding 0.3s ease-in-out;
    margin-top:30px;
    border: none;
    cursor: pointer;
}

button:hover{
    padding:5px 20px 5px 20px;
}

.allConv{
    margin-top:25px;
}

.conv{
    width:80%;
    margin:auto;
    background-color: var(--bleu);
    display:flex;
    align-items: center;
    gap:20px;
    padding:20px 30px 20px 20px;
    border-radius:25px;
    margin-bottom:30px;
}

.finMsg{
    display:flex;
    flex-direction:column;
    gap:25px;
}

.msg{
    max-width:700px;
}

.edi{
    margin-bottom:5px;
}

.linkConv{
    text-decoration: none;
    color:white;
    padding:5px 15px 5px 15px;
    background-color: gray;
    border-radius:5px;
    transition: padding 0.3s ease-in-out;
    text-align: center;
    width:90px;

}

.linkConv:hover{
    padding:5px 25px 5px 25px;
}

.finMsg{
    margin-left:auto;
}



.photoProfil{
    width:60px;
    background-size: cover;
}

.sec2{
    background: var(--degrade);
    height:150px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.choix-utilisateur{
    text-align: center;
}


footer{
    margin-top:0;

}

@media(max-width:650px){
    .conv{
        flex-direction:column ;
        gap:20px;

    }
    
}

@media(max-width:390px){
    .img{
        width:75px;
        top:-30px
    }
}


