

.section1{
    padding:20px;
}

h1{
    font-family:"secular", sans-serif;
    font-size:1.2rem;
    text-transform: uppercase;
}

.derniers-messages {
    background-color: #e0f2e9;
    border: 1px solid var(--bleu);
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    width:50%
}

.message-item {
    padding: 30px;
    border-bottom: 0.5px solid #666;
}

.message-contenu {
    float: left;
    width: 60%;
}

.date-heure {
    float: right;
    text-align: right;
    color: #666;
}

.expediteur {
    font-size: smaller; 
    font-style: italic;
    margin-top: 5px; 
   color: #666
}

