.section1{
    padding:20px;
}

h1{
    font-family:"secular", sans-serif;
    font-size:1.2rem;
    text-transform: uppercase;
}

.derniers-messages {
    background-color: #e0f2e9;
    border: 1px solid var(--bleu);
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    width:50%
}

.message-item {
    padding: 30px;
    border-bottom: 0.5px solid #666;
}

.message-contenu {
    float: left;
    width: 60%;
}

.date-heure {
    float: right;
    text-align: right;
    color: #666;
}

.expediteur {
    font-size: smaller; 
    font-style: italic;
    margin-top: 5px; 
   color: #666
}

/* devoirs à rendre: + 3 icones */
.titreRendus {
    font-family: "secular", sans-serif;
    font-size: 1.1rem;
    text-transform: uppercase;
}
.devoirs {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section1 {
    display: flex;
    justify-content: space-between;
    padding: 70px;
}
.rectangles {
    display: flex;
    flex-wrap: wrap;
    gap:9px;
    justify-content: center;
    text-align: center;

}
.rectangle {
    width: 175px; 
    height: 39px; 
    background-color: #3FBAFD; 
    cursor: pointer;
    margin-bottom: 12px; 
    border-radius:15px;
    text-align: center;

}
.rectangle a{
    text-decoration: none;
    color:white;
    text-align: center;
}
.rectangle:hover {
    text-align: center;
    background-color:#1ba4ed; 
    transition: background-color 0.3s ease;
}

.lien img{
    width:80px;
    height:80px;
}
.lien {
    margin-top:20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:50px;
}
.iconn {
    text-align: center;
    text-decoration: none;
    color: #3d3d5e; 
}
.iconn img {
    width: 80px; 
    height: 80px; 
    display: block;
    margin: 0 auto; 
}