/*Je définis ici les couleurs principales que je vais utiliser dans mon site*/

:root {
    --violetFonce: #7175D4; 
    --violetClair: #E2E3FB; 
    --vert: #D8F5DF;
    --rose: #FFEDEB;
    --bleu:#C7EAFD;
    --degrade:linear-gradient(180deg, #CDC4FD 0%, #A6CDF4 100%);
}


body{
    padding-top:80px;
    margin:0;
    font-family: "inter", sans-serif;
    font-size:1rem;
}

.chat{
    position:fixed;
    bottom:20px;
    right:20px;

}

.imgChat{
    width:50px;
}

section{
    padding:20px;
}

.txtRouge{
    color:rgb(141, 0, 0);
    font-weight: 600;
}

/*Je stylise le footer*/

footer{
    background-color: var(--violetFonce);
    display:flex;
    justify-content: flex-end;
    align-items:flex-start ;
    gap:100px;
    color:white;
    padding:25px 50px 25px 50px;
    text-transform: uppercase;
}

.logoFooter{
    width:300px;
}

.ML{
    margin-left:auto;
}



.pFooter{
    margin:2px;
}

.reseau{
    width:50px;
}
