.bjr{
    padding-bottom:20px;
}

.firstTitle{
    font-size: 1.5rem;
}

.section1{
    padding:90px 120px 90px 90px;
}

.section2{
    padding:25px 90px 25px 90px;
}

.section1{
    display: flex;
    justify-content: space-between;
}

h1{
    font-family:"secular", sans-serif;
    font-size:1.2rem;
    text-transform: uppercase;
}

.titleSection{
    font-family:"secular", sans-serif;
    font-size:1.2rem;
    text-transform: uppercase;
}

.titleSection.blanc{
    color:white;
    font-size:1.5rem;
}

.section2{
    display:flex;
    justify-content: space-between;
}

.derniersCours{
    background-color: var(--rose);
    border-radius: 30px;
    box-shadow: 25px 25px 19.4px -1px rgba(0, 0, 0, 0.15);
}

.derniers-messages {
    background-color: var(--bleu);
    border: 1px solid var(--bleu);
    border-radius: 30px;
    padding: 10px;
    margin-top: 20px;
    width:700px;
    box-shadow: 25px 25px 19.4px -1px rgba(0, 0, 0, 0.15);
}

.titleMsg{
    width:fit-content;
}


.message-item {
    padding: 30px;
    border-bottom: 0.5px solid #0e0e0e;
    display:flex;
    gap:30px;
}

.message-photo{
    width:60px;
}

.message-contenu {
    margin-right:auto;
}

.date-heure {
    text-align: right;
    color: #666;
}

.expediteur {
    font-size: smaller; 
    font-style: italic;
    margin-top: 5px; 
   color: #666
}

.section2{
    background:var(--degrade)
}

.pcs{
    width:700px;
    height:190px;
    background-color: var(--vert);
    border-radius:20px;
    box-shadow: 20px 20px 19.4px 1px rgba(0, 0, 0, 0.25);
   
    }


/* devoirs à rendre: + 3 icones */


.devoirs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rectangles {
    margin-top:10px;
    display: flex;
    flex-wrap: wrap;
    gap:9px;
    justify-content: center;
    text-align: center;

}
.rectangle {
    width: 175px; 
    height: 39px; 
    background-color: #3FBAFD; 
    cursor: pointer;
    margin-bottom: 12px; 
    border-radius:15px;
    display:flex;
    justify-content: center;
    align-items: center;

}
.rectangle a{
    text-decoration: none;
    color:white;
    text-align: center;
}
.rectangle:hover {
    text-align: center;
    background-color:#1ba4ed; 
    transition: background-color 0.3s ease;
}

.lien img{
    width:80px;
    height:80px;
}
.lien {
    margin-top:50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:50px;
}
.iconn {
    text-align: center;
    text-decoration: none;
    color: #3d3d5e; 
}
.iconn img {
    width: 80px; 
    height: 80px; 
    display: block;
    margin: 0 auto; 
}

@media(max-width:750px){
    .lien{
        gap:5px;

    }

    .iconn img{
        height:60px;
        width:60px;
    }}

