*::after,*::before {
    box-sizing: border-box;
}

/*Je mets en place l'interface notes des élèves*/
.body{
    padding-top:80px;
    margin:0;
    font-family: "inter", sans-serif;
    font-size:1rem;
}

.moyG{
    font-weight: 600;
    margin-bottom:30px;
    padding:15px;
    background-color: beige;
    width:fit-content;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius:5px;
}

.accordeonContainer{
    padding:50px;
    background-color: var(--violetClair);
    margin:50px 100px 50px 100px;
    border-radius:20px;
    box-shadow: 20px 20px 19.4px 1px rgba(0, 0, 0, 0.25);
    position:relative;

}

.accordion{
    border:1px rgb(206, 206, 206) solid;
    border-radius: 5px;
}

.img{
    height:190px;
    position:absolute;
    bottom:-94px;
    left:-96px;
    z-index:100;
}

/*Ici les éléments bootsrap que je modifie*/
.accordion-button:not(.collapsed) {
    background-color: rgb(227, 227, 227) !important;
}

.accordion-button:focus {
    box-shadow: none !important;
}

/*Je stylise l'apparence des notes dasn l'accordéon*/

.titre{
    font-family:"secular", sans-serif;
    font-size:1.4rem;
    text-transform: uppercase;
    margin-top:25px;
    margin-bottom: 25px;
}

.oneNote{
    display:flex;
    justify-content:space-between;
    background:var(--degrade);
    border-radius:5px;
    height:fit-content;
    margin-bottom: 20px;
    
}

.matiere{
    font-family: "interSemiBold", sans-serif;
    font-size:1.2rem;
}

.noteCoeff{
    background-color:beige;
    border-radius: 0px 5px 5px 0px;
}

.titreDev{
    font-size:1.2rem;
}

.matDev,.noteCoeff{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:20px;
}


/*Je mets en place l'interface notes des profs*/

.formContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    padding:70px;
    background-color: var(--vert);
    border-radius: 20px;
    box-shadow: 20px 20px 19.4px 1px rgba(0, 0, 0, 0.25);
    position: relative;
    display:flex;
    flex-direction: column;
    gap:20px;
    position: relative;
}

.votreMat{
    margin-bottom: 20px;
    font-family: "interSemiBold", sans-serif;

}

label{
    background-color: var(--violetClair);
    padding:5px;
    border-radius:5px;

}

.valid{
    font-family: "inter", sans-serif;
    background-color: white;
    color:black;
    padding:5px 15px 5px 15px;
    border:none;
    border-radius:20px;
    position: absolute;
    left:50%;
    transform: translate(-50%,0);
    transition:padding 0.3s ease-in-out;

}

.valid:hover{
    padding: 5px 20px 5px 20px;
}

.noteOk{
    font-weight: 600;
    color:rgb(141, 0, 0);
}

.imgProf{
    height:190px;
    position:absolute;
    bottom:-30px;
    left:-80px;
}
/* champs obligatoires */
.legendoblige{
    font-size: 0.8rem;
    color:rgb(84, 87, 90)
}
.asterisque{
    color:rgb(84, 87, 90)

}

@media(max-width:900px){
    .accordeonContainer{
        margin: 50px 50px 25px 50px;
    }

    .img{
        left:-52px;
    }
}
@media(max-width:750px){
    .oneNote{
        flex-direction: column;
    }

    .noteCoeff{
        border-radius:0px 0px 5px 5px;
    }

    .imgProf{
        height:160px;
        left:-40px;
    }
}
@media(max-width:650px){
    .matiere, .titreDev{
        font-size:1rem;
    }

    .accordeonContainer{
        margin: 50px 25px 25px 25px;
    }

    .img{
        height:140px;
        left:-42px;
        bottom:-50px;
    }

    .imgProf{
        bottom:-80px;
        left:-35px;
    }

    form{
        padding: 30px;
    }

    .valid{
        bottom:30px;
    }
}

@media(max-width:570px){
    .pForm{
        display: flex;
        flex-direction: column;
        gap:10px;
    }
    
}

@media(max-width:500px){
    .accordeonContainer{
        padding:20px;
    }

    .img{
        bottom:-74px;
    }

    .imgProf{
        display: none;
    }
    
}



